.internal-linking-related-contents  {
	width: auto;
	text-align:center;
}

.internal-linking-related-contents:before ,
.internal-linking-related-contents:after {
	margin:0;
	content: '';
	display: table;
	clear: both;
}

.internal-linking-related-contents:before {
	margin-top:15px;
}

.internal-linking-related-contents:after {
	margin-bottom:15px;
}

.internal-linking-related-contents .wp-post-image {
	width: auto;
	display: block;
	margin:0;
}

.internal-linking-related-contents a {
	color:#333;
	text-decoration:none;
	cursor:pointer;
}

.internal-linking-related-contents a:hover,
.internal-linking-related-contents a:active,
.internal-linking-related-contents a:focus {
	text-decoration:none;
}

.internal-linking-related-contents span {
	display:inline-block;
	margin-right:10px
}

.internal-linking-related-contents strong {
	display:block;
}

.internal-linking-related-contents .template-1 {
	background:#ec7063;
	width:100%;
	display:block;
	padding:10px;
	text-align:left;
	color:#fff;
	border-radius:5px;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.internal-linking-related-contents .template-1 span {
	color:#fff;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.internal-linking-related-contents .template-1:hover ,
.internal-linking-related-contents .template-1:active ,
.internal-linking-related-contents .template-1:focus {
	background:#e74c3c !important;
}

.internal-linking-related-contents .template-2 {
	background:#ec7063;
	width:100%;
	display:block;
	padding:15px;
	text-align:left;
	color:#fff;
	border-radius:5px;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.internal-linking-related-contents .template-2 span.cta {
	display:inline-block;
	background:#e74c3c;
	padding:10px;
	border-radius:5px
}

.internal-linking-related-contents .template-2 span {
	color:#fff;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.internal-linking-related-contents .template-2:hover,
.internal-linking-related-contents .template-2:active,
.internal-linking-related-contents .template-2:focus {
	background:#e74c3c !important;
}

.internal-linking-related-contents .template-3 {
	background:#ec7063;
	width:100%;
	display:block;
	padding:15px;
	text-align:left;
	color:#fff;
	border-radius:5px;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.internal-linking-related-contents .template-3 img {
	max-width: 100px;
	vertical-align: middle;
}

.internal-linking-related-contents .template-3 .postTitle {
	display:inline-block;
	background:#e74c3c;
	padding:10px;
	border-radius:5px;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.internal-linking-related-contents .template-3 span {
	color:#fff;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

.internal-linking-related-contents .template-3:hover ,
.internal-linking-related-contents .template-3:active ,
.internal-linking-related-contents .template-3:focus {
	background:#e74c3c !important;
}

/* Template 11
   ---- */

.internal-linking-related-contents.internal-linking-related-contents-template-11 {
	width:100%;
	display:block;
	padding:0px;
}

.internal-linking-related-contents.internal-linking-related-contents-template-11 span.cta {
	position: relative;
    display: inline-block;
	font-weight: bold;
	text-align:center;
	margin-bottom: 5px;
	margin-right: 0;
	padding:0;
}

.internal-linking-related-contents.internal-linking-related-contents-template-11 span.cta:after {
	position: absolute;
	content:'';
	top: 50%;
    right: -20px;
	margin-top: -2px;
	border: solid #616161;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	-webkit-transform: translate(0, -50%) rotate(45deg);
	transform: translate(0, -50%) rotate(45deg);
}

.internal-linking-related-contents a.template-11 {
	text-align:center;
	display: inline;
	line-height: 45px;
	padding: 8px;
	background:#ec7063;
	color:#fff;
	font-weight: 500;
	-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
	-webkit-transition: background-color .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, color .3s ease;
	transition: background-color .3s ease, color .3s ease;
}

.internal-linking-related-contents a.template-11:hover ,
.internal-linking-related-contents a.template-11:active ,
.internal-linking-related-contents a.template-11:focus {
	background:#e74c3c !important;
}

/* Template 12
   ---- */

.internal-linking-related-contents.internal-linking-related-contents-template-12 {
	width:100%;
	display:block;
	padding:0px;
	text-align:left;
}

.internal-linking-related-contents.internal-linking-related-contents-template-12 span.cta {
	position: relative;
    display: inline-block;
	font-weight: bold;
	text-align:left;
	margin-bottom: 5px;
	margin-right: 0;
	padding:0;
}

.internal-linking-related-contents.internal-linking-related-contents-template-12 span.cta:after {
	position: absolute;
	content:'';
	top: 50%;
    right: -20px;
	margin-top: -2px;
	border: solid #616161;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	-webkit-transform: translate(0, -50%) rotate(45deg);
	transform: translate(0, -50%) rotate(45deg);
}

.internal-linking-related-contents a.template-12 {
	text-align:left;
	display: inline;
	line-height: 45px;
	padding: 8px;
	background:#ec7063;
	color:#fff;
	font-weight: 500;
	-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
	-webkit-transition: background-color .3s ease, color .3s ease;
	-moz-transition: background-color .3s ease, color .3s ease;
	-o-transition: background-color .3s ease, color .3s ease;
	transition: background-color .3s ease, color .3s ease;
}

.internal-linking-related-contents a.template-12:hover ,
.internal-linking-related-contents a.template-12:active ,
.internal-linking-related-contents a.template-12:focus {
	background:#e74c3c !important;
}

/* Template 13
   ---- */

.internal-linking-related-contents.internal-linking-related-contents-template-13 {
	width:100%;
	display:flex;
	padding:0px;
	text-align:left;
}

.internal-linking-related-contents.internal-linking-related-contents-template-13 span.cta {
	position: relative;
    flex-shrink: 0; 
	font-weight: bold;
	text-align:left;
	line-height: inherit;
	margin-bottom: 0;
	margin-right: 0;
	padding:0;
}

.internal-linking-related-contents.internal-linking-related-contents-template-13 .ilrcp-related-post {
    flex-grow: 1;
    word-break: break-word;
}

.internal-linking-related-contents a.template-13 {
	text-align:left;
    display: block;
	line-height: inherit;
	padding: 0 8px;
	font-weight: 500;
	-webkit-box-decoration-break: clone;
    box-decoration-break: clone;
	-webkit-transition: color .3s ease, color .3s ease;
	-moz-transition: color .3s ease, color .3s ease;
	-o-transition: color .3s ease, color .3s ease;
	transition: color .3s ease, color .3s ease;
}

.internal-linking-related-contents a.template-13:hover ,
.internal-linking-related-contents a.template-13:active ,
.internal-linking-related-contents a.template-13:focus {
	color:#e74c3c !important;
	background: none !important;
}

/* Template 18
   ---- */

.internal-linking-related-contents .template-18 {
	background: #fff;
	border: 1px solid #dee2e6;
	width: 100%;
	text-align: left;
	position: relative;
}

.internal-linking-related-contents .template-18-inner {
	padding: 20px;
}

.internal-linking-related-contents .template-18 .template-18-header {
	border-bottom: 2px solid #ec7063;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.internal-linking-related-contents .template-18 .template-18-category {
	background: #ec7063;
	color: #fff;
	padding: 4px 10px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 5px;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.internal-linking-related-contents .template-18 .template-18-category:hover ,
.internal-linking-related-contents .template-18 .template-18-category:active ,
.internal-linking-related-contents .template-18 .template-18-category:focus {
	background:#e74c3c;
}

.internal-linking-related-contents .template-18 .template-18-title {
	text-align: left;
	margin: 0 0 8px 0 !important;
}

.internal-linking-related-contents .template-18 .template-18-title a {
	display: block;
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	-webkit-transition: color .3s ease, color .3s ease;
	-moz-transition: color .3s ease, color .3s ease;
	-o-transition: color .3s ease, color .3s ease;
	transition: color .3s ease, color .3s ease;
}

.internal-linking-related-contents .template-18 .template-18-title a:hover,
.internal-linking-related-contents .template-18 .template-18-title a:active,
.internal-linking-related-contents .template-18 .template-18-title a:focus {
	color: #ec7063;
}

.internal-linking-related-contents .template-18 .template-18-excerpt {
	font-size: 14px;
	color: #333333;
	line-height: 1.5;
	margin: 0 0 10px 0;
}

.internal-linking-related-contents .template-18 .template-18-meta {
	font-size: 12px;
	color: #818181;
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.internal-linking-related-contents .template-18 .template-18-meta span {
	margin-right: 0;
}